@import "../../assets/fonts.scss";

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  .inputLabel {
    padding-bottom: 25px;
    font-family: $firstFont;
    font-size: 1.5rem;
    font-weight: bold;
    color: #eee;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .converterInput {
    width: 15%;
    padding: 15px 0;
    background: transparent;
    color: #eee;
    font-size: 1.2rem;
    font-family: $firstFont;
    border: 3px solid #eee;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    outline: none;
  }
}
