@import "../../assets/fonts.scss";

.listContainer {
  width: 100%;
  padding: 20px 0 20px;
  color: #eee;

  .listTitle {
    text-align: center;
    font-family: $firstFont;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #eee;
    text-transform: uppercase;
  }
  .listTransactions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 20px;
    .itemContainer {
      width: 90%;
      display: flex;
      flex-direction: row;
      background-color: rgba(0, 0, 0, 0.7);
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      overflow: hidden;
      margin: 10px 0;
      .itemParagraph {
        padding: 5px 0;
        font-family: $firstFont;
      }
      .dataContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .deleteButton {
        width: 120px;
        height: 60px;
        background-color: #e73827;
        opacity: 0.9;
        color: #eee;
        font-family: $secondFont;
        font-weight: bold;
        line-height: 60px;
        font-size: 1rem;
        text-transform: uppercase;
        transition: 0.6s;
        &:hover {
          cursor: pointer;
          background-color: #eee;
          color: black;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) and (max-aspect-ratio: 13/9) {
  .listContainer {
    width: 100%;
    padding: 10px 0;
    .listTitle {
      font-size: 0.9rem;
      padding: 0;
    }
    .listTransactions {
      .itemContainer {
        margin-bottom: 10px;
        display: flex;
        width: 100%;
        .itemParagraph {
          font-size: 0.5rem;
          overflow-x: hidden;
          text-overflow: ellipsis;
          text-align: center;
        }
        .dataContainer {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .deleteButton {
          width: 60px;
          height: 50px;
          line-height: 50px;
          font-size: 0.5rem;

          &:hover {
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) and (min-width: 321px) and (max-aspect-ratio: 13/9) {
  .listContainer {
    width: 100%;
    padding: 10px 0;
    .listTitle {
      font-size: 0.9rem;
      padding: 0;
    }
    .listTransactions {
      .itemContainer {
        margin-bottom: 10px;
        display: flex;
        width: 100%;
        .itemParagraph {
          font-size: 0.5rem;
          overflow-x: hidden;
          text-overflow: ellipsis;
          text-align: center;
        }
        .dataContainer {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .deleteButton {
          width: 60px;
          height: 50px;
          line-height: 50px;
          font-size: 0.5rem;

          &:hover {
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}
